body {
    margin: 0;
    padding: 0;
}
.App {
    text-align: center;
    background-color: #272a33;
}

.App-link {
    color: #61dafb;
}

a {
    color: #2b94b1;
}

a:hover {
    color: rgb(123, 121, 223);
}
