.App-header {
    background-color: rgb(42, 38, 38);
    /* min-height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: calc(10px + 2vmin);
    color: white;
}

.navBar {
    display: flex;
}

.searchInput {
    border-radius: 30px;
    width: 245px;
    height: 18px;
    display: flex;
    justify-content: left;
    position: relative;
    top: 25px;
    left: -530px;
}

.myNavUl {
    display: flex;
}
.myNavUl li {
    list-style: none;
    margin-right: 1em;
}

.App-header a {
    color: white;
    font-size: 15px;
}
